{% if user %}
  <style>pre{white-space:wrap}</style>
<div>Logged in as <strong>{{user}}</strong></div>

{% for client in clients %}
<pre>
{{ client.client_info|tojson(indent=4) }}
{{ client.client_metadata|tojson(indent=4) }}
</pre>
<a href="/edit_client/{{client.client_info['client_id']}}">[edit]</a>
<hr>
{% endfor %}

<br><a href="{{ url_for('.create_client') }}">Create Client</a>

{% else %}
<form action="" method="post">
  <input type="text" name="username" placeholder="username">
  <button type="submit">Login / Signup</button>
</form>
{% endif %}
